{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
<style>
    .icon {
        margin: 0 5px;
    }
    .center { margin: auto;

    width: 85%;

    padding: 10px; }

    .middle {
 
        float: none;
      
        display: inline-block;
      
        vertical-align: middle;
      
     }
</style>

{% endblock %}
  

{% block content %}
<div class="container">
    
    <div style="padding: 20px 0;">
        <a class="btn btn-primary" id="addBtn">添加比赛</a>
    </div>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>比赛ID</th>
                <th>名称</th>
                <th>结束时间</th>
                <th>开启注册</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tb">
            {% for row in con_list %}
                <tr nid="{{ row.id }}">
                    <td na="nid">{{ row.id }}</td>
                    <td na="name"><a href="/custreg/{{row.id}}/">{{ row.name }}</a></td>
                    <td na="endTime">{{ row.endTime }}</td>
                    <td>
                        <a class ='Reg-row'>
                        <input type="checkbox" name="endReg" id="endReg" value="endReg" {% if row.endReg == True %}checked {% else %}unchecked{% endif %}> 
                        </a>
                    </td>
                    <td>
                        <a class="glyphicon glyphicon-remove icon del-row"></a>
                        <a class="glyphicon glyphicon-edit icon edit-row "></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- 删除用户模态框 -->
<!-- Modal -->
<div class="modal fade "  id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" style="width:400px;" role="document">
        <div class="alert alert-danger" role="alert">
            <h3 class="text-center">删除比赛信息？</h3>
            <input style="display: none;" type="text" id="delNid" />
            <div>
                <button id="delCancel"type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                <button id="delConfirm" type="button" class="btn btn-danger pull-right">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑用户模态框 -->
<!-- Modal -->
<div class="modal fade" id="eidtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑比赛</h4>
            </div>
            <div class="modal-body center">
            <form id="fm" class="form-horizontal ">
                <input type="text" name="nid" style="display: none" />
                
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">比赛名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" placeholder="比赛名称">
                    </div>
                </div>

                <div class="form-group">
                    <label for="stuid" class="col-sm-2 control-label">结束时间</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="endTime" placeholder="1999-08-22 19:00:00">
                    </div>
                </div>

            </form>
            </div>
            <div class="modal-footer">
                <span id="errorMsg" style="color: red;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnEditSave">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加用户模态框 -->
<!-- Modal --> 
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">创建比赛</h4>
            </div>
            <div class="modal-body center">

                <form id="fm" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" placeholder="姓名">
                        </div>
                    </div>
 
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">结束时间</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="endTime" placeholder="1999-08-22 19:00:00">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span id="errorMsg" style="color: red;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/contest.js' %}"></script>
{% endblock %}