{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
<style>
    .icon {
        margin: 0 5px;
    }
    .center { margin: auto;

    width: 85%;

    padding: 10px; }
</style>

{% endblock %}
  

{% block content %}
<div class="container">
    <div style="padding: 20px 0;">
        <a class="btn btn-primary" id="addBtn">添加</a>
        <a class="btn btn-danger">删除</a>
    </div>
 
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>学号</th>
                <th>性别</th>
                <th>学院</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="tb">
            {% for row in stu_list %}
                <tr nid="{{ row.id }}">
                    <td na="nid">{{ row.id }}</td>
                    <td na="user">{{ row.name }}</td>
                    <td na="stuid">{{ row.stuid }}</td>
                    <td na="sex">{{ row.sex }}</td>
                    <td na="department">{{ row.department }}</td>
                    <td>
                        <a class="glyphicon glyphicon-remove icon del-row"></a>
                        <a class="glyphicon glyphicon-edit icon edit-row "></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- 删除用户模态框 -->
<!-- Modal -->
<div class="modal fade "  id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
    <div class="modal-dialog" style="width:400px;" role="document">
        <div class="alert alert-danger" role="alert">
            <h3 class="text-center">删除学生信息？</h3>
            <input style="display: none;" type="text" id="delNid" />
            <div>
                <button id="delCancel"type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                <button id="delConfirm" type="button" class="btn btn-danger pull-right">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 编辑用户模态框 -->
<!-- Modal -->
<div class="modal fade" id="eidtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑学生</h4>
            </div>
            <div class="modal-body center">
            <form id="fm" class="form-horizontal ">
                <input type="text" name="nid" style="display: none" />

                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="user" placeholder="姓名">
                    </div>
                </div>

                <div class="form-group">
                    <label for="stuid" class="col-sm-2 control-label">学号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="stuid" placeholder="学号">
                    </div>
                </div>

                <div class="form-group">
                    <label for="stuid" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="sex" value="男"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  name="sex" value="女"> 女
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="stuid" class="col-sm-2 control-label">学院</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="department" placeholder="学院">
                    </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
                <span id="errorMsg" style="color: red;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnEditSave">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- 添加用户模态框 -->
<!-- Modal --> 
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">创建学生</h4>
            </div>
            <div class="modal-body center">
 
                <form id="fm" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" placeholder="姓名">
                        </div>
                    </div>
 
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">学号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="stuid" placeholder="学号">
                        </div>
                    </div>
 
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="男" checked> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio"  name="sex" value="女"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">学院</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="department" placeholder="学院">
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <span id="errorMsg" style="color: red;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/detail.js' %}"></script>
{% endblock %}