{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}数据查询{% endblock %}
{% block css %}
<style>
    .icon {
        margin: 0 5px;
    }
    .center { margin: auto;

    width: 85%;

    padding: 10px; }

    .middle {
 
        float: none;
      
        display: inline-block;
      
        vertical-align: middle;
      
     }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="row col-md-5 col-md-offset-4">
        <div class="row col-sm-6 middle text-center">
            <a class="btn btn-primary" id="backup_btn">备份</a>
        </div>
        <div class="row col-sm-6 middle text-center">
            <a class="btn btn-primary" id="recovery_btn">恢复</a>
        </div>
    </div>
</div>

<div class="modal fade"  id="backupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
    <div class="modal-info" style="width:400px;" role="document">
        <div class="alert alert-info" role="alert">
            <h3 class="text-center">确认备份？</h3>
            <div>
                <button id="backupCancel"type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                <button id="backupConfirm" type="button" class="btn btn-danger pull-right">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"  id="recoveryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  >
    <div class="modal-info" style="width:400px;" role="document">
        <div class="alert alert-info" role="alert">
            <h3 class="text-center">确认恢复？</h3>
            <div>
                <button id="recoveryCancel"type="button" class="btn btn-default " data-dismiss="modal">取消</button>
                <button id="recoveryConfirm" type="button" class="btn btn-danger pull-right">确定</button>
            </div>
        </div>
    </div>
</div>

{% endblock%}
{% block script %}
    <script type="text/javascript" src="{% static 'js/backup.js' %}"></script>
{% endblock %}